# CoinGecko API Configuration
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
SYMBOLS=bitcoin,ethereum,solana

# Database Connection
DB_CONNECTION_STRING=sqlite:///crypto_pipeline.db

# Logging Level
LOG_LEVEL=INFO